.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 4rem;
  width: 100%;
  background-color: white;
  padding: 1rem 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #1a4977;
  user-select: none;
  z-index: 1;

  &__left {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
  }

  &__right {
    width: 18%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    height: auto;
    padding-right: 3rem;


    @media (max-width: 1200px) {
      padding-right: 3rem;
    }

    @media (max-width: 992px) {
      padding-right: 3rem;
    }

    @media (max-width: 768px) {
      padding-right: 3rem;
    }

    @media (max-width: 576px) {

      padding-right: 3rem;
    }
  }

  &__logo {
    position: fixed;
    top: 3rem;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../../assets/Logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 5.5rem;
    height: 5.5rem;
    cursor: pointer;
    z-index: 2;
    @media (max-width: 1200px) {
      width: 5.3rem;
      height: 5.3rem;
    }

    @media (max-width: 576px) {
      width: 4.8rem;
      height: 4.8rem;
    }
  }

  &__link {
    display: flex;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    color: #1a4977;
    font-family: inherit;

    @media (max-width: 1200px) {
      font-size: 1.1rem;
    }

    @media (max-width: 992px) {
      font-size: 1.0rem;
    }

    @media (max-width: 768px) {
      font-size: 0.9rem;
    }

    @media (max-width: 576px) {
      font-size: 0.8rem;
    }

  }

  &__language {
    width: 1.8rem;
    height: 1.8rem;
    background-size: contain;
    background-repeat: no-repeat;
    flex-shrink: 0;
    margin-right: 1rem;
    cursor: pointer;

    @media (max-width: 1200px) {
      width: 1.5rem;
      height: 1.5rem;
    }

    @media (max-width: 576px) {
      width: 1.3rem;
      height: 1.3rem;
    }
  }

  &__romanian-lang {
    background-image: url("../../assets/romanian-lang-icon.png");
  }

  &__english_lang {
    background-image: url("../../assets/english-lang-icon.png");
  }

  &__icon {
    width: 1.5rem;
    height: 1.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 0.5rem;
    flex-shrink: 0;
  }

  .login-icon {
    background-image: url("../../assets/logIn-icon.png");
    padding-left: 0;
    width: 24px;
    padding-right: 1rem;

    @media (max-width: 1200px) {
      width: 1.5rem;
      height: 1.5rem;
    }

    @media (max-width: 576px) {
      width: 1.3rem;
      height: 1.3rem;
    }
  }

  .logout-icon {
    background-image: url("../../assets/logOut-icon.png");
    width: 20px;
    height: 26px;
    padding-right: 0;

    @media (max-width: 1200px) {
      width: 1.5rem;
      height: 1.5rem;
    }

    @media (max-width: 576px) {
      width: 1.3rem;
      height: 1.3rem;
    }
  }
}

button:focus {
  outline: none;
}
