.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 3rem;
    background-color: white;
    padding: 1rem 2rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: #1A4977;
    user-select: none;

    &__icon {
        margin-left: 1rem;
    }
  
    &__left {
      display: flex;
      align-items: center;
      position: relative;
      height: 100%;
    }

    &__right {
        width: 18%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
        height: auto;
    }

    &__center {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        position: relative;
        height: 100%;
    }

    &__logo {
        background-image: url('../../assets/Logo.png');
        background-size: cover;
        background-position: center;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        position: absolute;
        top: 130%;
        left: 55%;
        transform: translateY(-50%);
        z-index: 1;
    }
  
    &__link {
        font-size: 1.3rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
    }

    &__language {
        width: 1.8rem;
        height: 60%;
        background-size: cover;
        margin-right: 1rem;
        cursor: pointer;
    }
  
    &__romanian-lang {
        background-image: url('../../assets/romanian-lang-icon.png');
    }
    
    &__english_lang {
        background-image: url('../../assets/english-lang-icon.png');
    }
    
    &__icon {
        width: 1.2rem;
        height: 1.2rem;
        background-size: cover;
        margin-right: 0.5rem;
      }
    
    .login-icon {
        background-image: url('../../assets/logIn-icon.png');
    }

    .logout-icon {
        background-image: url('../../assets/logOut-icon.png');
        width: 20px;
        height: 26px;
    }
}
  