.body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.professor-schedule-table-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-height: 1200px) {
    padding-top: 9rem;
  }

  @media (max-height: 900px) {
    padding-top: 9rem;
  }

  @media (max-height: 812px) {
    padding-top: 8.8rem;
  }

  @media (max-height: 667px) {
    padding-top: 8.6rem;
  }
}

.professor-schedule-table-title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.professor-schedule-table {
  width: 90%;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #333;
  thead {
    color: black;
    th {
      padding: 16px;
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold;
      background-color: transparent;
    }
  }

  tbody {
    tr {
      &:nth-child(even) {
        background-color: #e1f0ff;
      }

      &:nth-child(odd) {
        background-color: #ffffff;
      }

      td {
        padding: 8px;
        border-bottom: 1px solid #ddd;
        text-align: center;

        .link {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

html {
  scroll-behavior: smooth;
}
