.background-wrapper {
  background-image: url("../../assets/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; /* Ensure it's always at least full screen */
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow: auto;
} 

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: clamp(8rem, 10vh, 10rem);
  align-items: center;

  @media (max-width: 768px) {
    padding-top: 5rem;
  }
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(0.8rem, 1.5vw, 1.2rem);
}
.title-heading {
  color: #ffffff;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 0;
  margin-top: 1.5rem;
  @media (max-width: 768px) {
    font-size: 2rem;
  }
}

.title {
  color: #ffffff;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0.5rem;
  padding: 0 1rem;
  //margin-top: 1.5rem;
  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.subtitle {
  color: #ffffff;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;

  @media (max-width: 768px) {
    font-size: 1.3rem;
  }
}

.footer {
  color: #ffffff;
  text-align: center;
  margin-top: 1rem;
  font-size: 0.8rem;
  font-weight: 300;
  @media (max-width: 768px) {
    font-size: 0.7rem;
  }
}
