.background-wrapper {
  background-image: url("../../assets/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.content-wrapper {
  padding-top: 2rem;
}
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 10rem;
  align-items: center;

  @media (max-height: 1200px) {
    padding-top: 10rem;
  }

  @media (max-height: 900px) {
    padding-top: 10rem;
  }

  @media (max-height: 812px) {
    padding-top: 9rem;
  }

  @media(max-height: 667px) {
    padding-top: 8rem;
  }

}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

.title {
  color: #ffffff;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0;
  margin-top: 1.5rem;
}

.subtitle {
  color: #ffffff;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.footer {
  color: #ffffff;
  text-align: center;
  margin-top: 1rem;
  font-size: 0.8rem;
  font-weight: 300;
}
