.rooms-schedule {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.schedule-room {
  width: 100%;
  max-width: 80%;
  text-align: center;
  position: relative;
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}
