@use '../utils/colors.scss';
.cards-list {
    display: inline-block;
    gap: 10px;
    margin-top: 20px;
    text-align: center;
}

.card {
    background-color: colors.$primary-dark-blue;
    color: colors.$text-white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.1s;
    text-decoration: none;
    display: inline-block;
    width: fit-content;
    box-sizing: border-box;
}

.card-title {
    font-size: clamp(0.8rem, 2vw, 1.2rem);
    margin: 0;
    font-weight: 500;
}

.card-subtitle {
    font-size: clamp(0.8rem, 2vw, 1.1rem);
    margin-top: 5px;
    margin-bottom: 0px;
}

.card:hover {
    transform: scale(1.05);
    color: white;
}