.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .table {
    width: 60%; 
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    color: #333;
  
    thead {
      color: black;
      th {
        padding: 16px;
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        background-color: transparent;
      }
    }
  
    tbody {
      tr {
        &:nth-child(even) {
          background-color: #E1F0FF;
        }
        &:nth-child(odd) {
          background-color: #FFFFFF;
        }
  
        &.highlight-background td {
          font-weight: bold;
          text-align: center;
          background-color: #A2D0FF;
          font-size: 1.25rem;
          padding: 12px;
        }
  
        td {
          padding: 8px;
          border-bottom: 1px solid #ddd;
          text-align: center;
  
          a {
            color: black;
            text-decoration: underline;
            margin-right: 15px;
            font-weight: bold;
  
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  