.page {
    flex-direction: column;
    padding-top: 10rem;
    align-items: center;

    @media (max-height: 1200px) {
        padding-top: 10rem;
    }

    @media (max-height: 900px) {
        padding-top: 9rem;
    }

    @media (max-height: 812px) {
        padding-top: 9rem;
    }

    @media(max-height: 667px) {
        padding-top: 8rem;
    }
}

.page h1 {
    margin-bottom: 70px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.cards-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 40px;
    column-gap: 0;
    justify-items: center;
}
